<div class="topnav">
     <a href="/" class="home">Digital Scholarship at Florida State University</a>
     <div class="rightnav">
          <a href="{{ site.baseurl }}/about">About</a>
          <a href="{{ site.baseurl }}/tutorials">Tutorials</a>
          <a href="{{ site.baseurl }}/instruction">Request Instruction</a>
     </div>
</div>