body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Homepage features */

.featured-top {
  background-color: #FFB8A2;
  background: url(/assets/images/webHeader2.jpg) no-repeat center top fixed;
  background-size: cover;
}

.featured-bottom {
    background-color: #FFB8A2;
    background: url(/assets/images/goldheader.jpg) no-repeat center top fixed;
    background-size: cover;
}

.featured-bottom p {
    padding: 100px;
    font-size: xx-large;
    margin: 0px;
    text-align: center;
}

.featured-bottom a {
    padding: 50px;
    font-size:xx-large;
    text-decoration:none;
    color:black;
}

.featured-bottom a:hover {
    text-decoration: underline;
}

td.featured-title {
    font-size: xx-large;
    color: #CEB888;
}

td.featured-title a {
  font-size:xx-large;
  color:white;
}

td.featured-desc {
    width:60%;
    color:white;
    text-align:left;
}

.container-home {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 80%;
}

blockquote {
    font-size:xx-large;
    width:50%;
}

.button-garnet {
    background-color: #782F40;
    border-radius:20px;
    border: none;
    padding: 15px 32px;
    margin: 0px 0px 50px 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-garnet a {
    color: white;
    text-decoration:none;
}

.button-gold {
    background-color: #ceb888;
    border-radius: 20px;
    border: none;
    padding: 15px 32px;
    margin: 0px 30px 50px 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-gold a {
     color: black;
     text-decoration: none;
}

/* Sidebar (for default pages and tutorials) */

.sidebar {
    height:100%;
    position:static;
}

.sidebar h3 {
    padding: 5px 20px 5px 50px;
}

.sidebar a {
    display:block;
    color:black;
    text-decoration:none;
    padding: 5px 20px 5px 50px;
}

.sidebar a:hover {
    display: block;
    color: black;
    text-decoration: underline;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

/* Screen nonsense */

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.topnav {
    text-align: left;
    top: 0;
    position: static;
    overflow: hidden;
    padding-left: 100px;
    padding-bottom:20px;
    background-color:#ffffff;
}

.topnav .home {
    color: #2C2A29;
    display: inline-block;
    width: fit-content;
    height: 25px;
    text-align: left;
    padding: 25px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
}

.rightnav {
    float: right;
    padding-right: 100px;
}

    .rightnav a {
        color: #2C2A29;
        display: inline-block;
        width: fit-content;
        height: 25px;
        text-align: center;
        padding: 25px;
        padding-top: 30px;
        padding-bottom: 20px;
        text-decoration: none;
    }

.topnav a:hover {
    text-decoration: underline;
    color: black;
}

a {
  color:#782F40;
}

.content {
    background-color:#f1f1f1;
    padding-right:50px;
}

table {
  width: 100%;
  padding: 100px;
}

/* Footer CSS */

footer {
    background-color: #782F40;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

footer a {
    color: #ceb888;
}